# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. 
on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment: Production

    steps:
      - uses: actions/checkout@v2

      - name: Kubernetes toolset
        # You may pin to the exact commit or the version.
        uses: stefanprodan/kube-tools@v1.5.0
        env:
          KUBERNETES_CERTIFICATE_AUTHORITY: ${{ secrets.KUBERNETES_CERTIFICATE_AUTHORITY }}
          KUBERNETES_SERVICEACCOUNT_TOKEN: ${{ secrets.KUBERNETES_SERVICEACCOUNT_TOKEN }}
        with:
          kubectl: 1.20.4
          kustomize: 4.1.3
          # command to run
          command: |
            echo "Setup kubectl context"
            echo "$KUBERNETES_CERTIFICATE_AUTHORITY" > .ca.crt
            kubectl config set-cluster "cluster" --server="https://95.111.246.105:6443" --certificate-authority=.ca.crt --embed-certs=true
            kubectl config set-credentials "user" --token="${KUBERNETES_SERVICEACCOUNT_TOKEN}"
            kubectl config set-context "cluster" --cluster="cluster" --user="user" --namespace="in-stock-notifier-app"
            kubectl config use-context "cluster"

            echo "Test cluster connection"
            kubectl version -v 4
            
            echo "Compile manifest with kustomize"
            kustomize build deploy/production > deploy/production/manifest.yaml
            echo "Deploy manifest"
            kubectl apply -f deploy/production/manifest.yaml -v 4
